<html>
  <body>
    <ul>
      <% versions.forEach(function(version) { %>
        <li><a href="/<%= document %>/<%= version %>.html"><%= version %></a></li>
      <% }); %>
    </ul>
  </body>
</html>