<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    <title>PDF Creator</title>

    <link rel="stylesheet" href="/assets.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

  <body>
    <%- content %>

    <script>
      var params = {};
      var queryStringsFromURL = document.location.search.substring(1).split('&');

      $.each(queryStringsFromURL, function(queryString) {
        var pair = queryStringsFromURL[queryString].split('=', 2);

        params[pair[0]] = decodeURI(pair[1]);
      });

      $.each(params, function(key, value) {
        $('[data-' + key + ']').text(value);
      });
    </script>
  </body>
</html>
